 /* ESTRUTURA */

.DivImagemProDoble {
	overflow: hidden;
}

.DivImagemProDoble, .DivImagemProDoble div {
	max-width: 150px;
	max-height: 150px;
	min-height: 150px;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	background-position: center;
	margin: 0 auto;
}

.DivImagemProDoble div:last-child {
	opacity:0; transition: 1s; 
	position: relative;
    bottom: 150px; 
 }
