.DivImagemProDoble{ 
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}
 
.DivImagemProDoble  {
	transition: .6s; 
	min-height: 150px;
	max-height: 150px; 
	margin: 0 auto; 
	padding: 5px 0;
	display: block; 
}
 
